.table-body {
    position: relative;
    flex-grow: 1;
    box-sizing: border-box;
    margin-top: 10px;
    border: 1px solid #dbdbdb;
    height: 400px;
    overflow-y: auto;
}

.table-body table {
    border-collapse: collapse;
    border: 0px;
    width: 100%;
}

.table-body table thead {
    position: sticky;
    top: 0px;
    background-color: #fafafafa;
}


.table-body table th,
.table-body table td {
    border: 1px solid #dbdbdb;
    height: 30px;
}

.table-body table thead th {
    &:nth-of-type(1) {
        width: 3%;
    }
    &:nth-of-type(2) {
        width: 15%;
    }
    &:nth-of-type(3) {
        width: 42%;
    }
    &:nth-of-type(4) {
        width: 10%;
    }
    &:nth-of-type(5) {
        width: 15%;
    }
    &:nth-of-type(6) {
        width: 15%;
    }
}